* {
    margin:0;
    padding:0;
}
body{
    font-family: 'Merriweather', serif;
    background-color:#ebf2ff;
}
.navbar{
    display:flex;
    align-items:center;
    justify-content:space-around;
    background-color:#fff;
}
.navbar__brand{
    width:100px;

} 
.navbar_logo{
    width:100%;
}
.nav__item{
    background-image:linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color:#fff;
    border:none;
    padding:12px; 
    border-radius:6px;
    font-weight:600px;
}
/*
.nav__item:hover{
    background-position:right center;
}
*/
.nav__item:hover{
    border:2px solid #FF6767;
    cursor:pointer;
    
}
@media(min-width:768px){
   .navbar{
    justify-content:space-between;
    padding:10px 30px;
   }
   .hero__container{
    margin-top:20px;
    display:flex;
    flex-direction:row-reverse;
    align-items: center;
   }
   .explore__menu__lists{
    display:flex;
    gap:15px;
    padding-top:20px;
    padding:0 30px;
   }
}
@media(min-width:1024px){
    .container{
        max-width:70%;
    }
    .navbar__brand{
        width:150px;
    }
    .nav-item{
        padding:20px;
        font-size:20px;
    }
    .hero__description{
        width:100%;
    }
    .explore__menu__lists{
        gap:25px;
       }
    .explore__menu__text{
       font-size:48px; 
    }
}
.hero__image__container{
    width:100%;
}
.hero__image{
    width:100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px #000;
}
.container{
    max-width:100%;
    padding:0px 20px;
    margin:0 auto; /* equal margin on both left and right*/
}
.hero__text{
    font-weight:800px;
    font-size:50px;
    margin:20px 0px;
    color:#1d3557;
}
.food__card__image__conatiner{
    width:100%;
}
.food__image{
    width:100%;
    border-radius:8px 8px 0 0;
}
.food__card{
    background-color:#F9F9F9 ;
    
}
.food__card__description{
    padding:15px;
}
.explore__menu__text{
    margin-top:30px;
    margin-bottom:30px;
    text-align:center;
    font-size:30px;
    color:#1d3557;
    font-weight:800;

}
#pizza__card{
    padding-top: -40px;
    padding-bottom:30px;
}
.explore__menu__gradient__bg{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background-image:linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    z-index:-3;
    transform:skewY(-5deg);

}
.explore__menu__container{
    position:relative;
    
}

 